.footer-section {
    background-color: scale-color($white-colour, $lightness: -79.2%);
    padding: 24px;
    color: $white-colour;

    &__list-element {
        margin: 8px 0px;        
    }

    &__icon {
        width: 14px;
        margin-right: 8px;
        &--partnership-icon {
            font-size: 13px;
        }        
    }   
    
    /* Responsive */
    @media screen and (min-width: get-min-width(medium)){  
        &__list {     
            display: flex;
            justify-content: space-between;
            padding-right: 4rem;
        }
    }
    @media screen and (min-width: get-min-width(large)){       
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 1rem 4rem;
    } 
    @media screen and (min-width: get-min-width(x-large)){ 
        text-align: center;
        padding: 1rem 8rem;

        &__list{
            padding-top: 1rem;
        }
    } 
}




