/*Whole howto section*/

.howto-section {
    display: flex;
    flex-direction: column;
    background-color: transparent;

    /*Howto section style on tablets*/

    @media screen and (min-width: map-get($breakpoints, medium)) and (max-width: map-get($max-width, medium)){
        justify-content: space-around;

        &__header {
            text-align: center;
        }
    }

    /* Howto section style on large screens */

    @media screen and (min-width: map-get($breakpoints, large)) {
        margin-bottom: 2.5rem;
        }
    
    /*How to steps container and responsive*/

    & ol {
        display: flex;
        flex-direction: column;
        counter-reset: howto-list; /*reset number for ordered list */
        margin-left: 1rem;

        /*list style on tablets : centered column*/

        @media screen and (min-width: map-get($breakpoints, medium)) and (max-width: map-get($max-width, medium)) {
            width: 100%;
            align-items: center;
            margin-top: 1rem;
            margin-bottom: 1rem;
        }

        /*list style on large screens : row*/

        @media screen and (min-width: map-get($breakpoints, large)) {
            flex-direction: row;
            justify-content: space-between;
        }
    }

    /* Ordered list elements : */

    &__step {
        position: relative;
        margin-top: 1rem;
        margin-bottom: 1.2rem;
        @include cards-shadow;
        border-radius: 20px;
        background-color: $sections-background;
        padding: 1.5rem;
        font-weight: 700;
        counter-increment: howto-list; /*increment number of list for each element*/
        z-index: 1; /* element 1 of stack for opacity animation on hover */

        /*Number for list elements: style, position and content*/

        &::before {
            position: absolute;
            left: -14px;
            bottom: 18px;
            padding: 4px 8px;
            border-radius: 50%;
            background-color: $colour-primary;
            content:counter(howto-list); /* Add a new element with the incremented numbers in it*/
            color: $white-colour;
        }

        & i {
            margin-right: 0.7rem;
            margin-left: 0.2rem;
            color: darken($white-colour, 56%);
        }

        /*Create an empty transparent element below li for animation purpose*/

        &::after {
            z-index: -1; /*last on the stack */
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            border-radius: 20px;
            background-color: $colour-primary;
            opacity: 0; 
            content: "";
            transition: opacity 250ms;
        }
        
        /*List elements on tablets: not in full-width anymore*/

        @media screen and (min-width: map-get($breakpoints, medium)) and (max-width: map-get($max-width, medium)) {
            width: 60%;
        }

        /*List elements on large screen*/
        @media  screen and (min-width: map-get($breakpoints, large)) {
            min-width: 30%;
        }
    }

}

