.restaurants-section {
    @media screen and (min-width: get-min-width(large)){
        display: flex;
        flex-direction: column;
    }
}

.restaurants-section__header {
    @include medium-screens {
        text-align: center;
        margin-bottom: 2rem;
    }

}

.restaurants-block{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin: 1.5rem 0 3rem 0;

    @media screen and (min-width: get-min-width(medium)) {
        flex-flow: row wrap;
    }

    @include medium-screens {
        justify-content: center;
    }

    @media screen and (min-width: get-min-width(large)) {
        justify-content: center;
        gap: 5rem;
    }


}    