/* ------------ Homepage load animation ------------ */


@keyframes play-animation {
        20%{
                opacity: 0.5;
        }
        50%{
                opacity: 0;
        }
        100%{
                opacity: 0;
                z-index: -5;
        }
}

@keyframes logo-splashing{
        0%{
          transform: translateY(0)scale(1, 0.9);
        }  
        20%{
          transform:translateY(-5px) scale(1.3, 0.7);
          animation-timing-function: cubic-bezier(.76,0,.57,.98);
        }
        95%{
          transform: scale(1.1, 0.8);
        }
        100%{
          transform:translateY(0px) scale(1);
          animation-timing-function: ease-in;
        }
} 
      
@keyframes bouncing-ball1{
        0%{
          transform: translateY(0);
        }
        1%{
          transform: scale(0.7, 1.8);               
        }  
        52%{
          transform:translateY(-85px);
          animation-timing-function: cubic-bezier(.76,0,.57,.98);
        }
        95%{
          transform: scale(1);
        }
        100%{
          transform:translateY(0);
          animation-timing-function: ease-in;
          
        }
} 
 
      
@keyframes bouncing-ball2and3{
         0%{
          transform: translateY(0);
        }
        1%{
          transform: scale(0.7, 1.8);               
        }  
        52%{
          transform:translateY(-80px);
          animation-timing-function: cubic-bezier(.76,0,.57,.98);
        }
        95%{
          transform: scale(1);
        }
        100%{
          transform:translateY(0);
          animation-timing-function: ease-in;
          
        }
} 




/* ------------ Menu-pages load animation ------------ */

@keyframes appear{
        0% {
            opacity: 0;
            transform: translateY(20%) ;
        }
        90% {
            transform: translateY(-0.01%) ;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
}



    

