.button-container__button:hover {
        opacity:0.85;
        box-shadow: 0px 6px 5px 3px darken($white-colour, 25%);
}

.howto-section__step:hover{

        & i{
                color: $colour-primary;
        }
        &::after{
                opacity: 0.1;
        }
}

.heart-icon:hover, input:checked{
        & .bg-icon, +label>.bg-icon {
                transform: scale(1.1);
        }
}


/* ------------ Menu-pages load animation ------------ */

@keyframes appear{
        0% {
            opacity: 0;
            transform: translateY(20%) ;
        }
        90% {
            transform: translateY(-0.01%) ;
        }
        100% {
            transform: translateY(0);
            opacity: 1;
        }
}




        
@for $i from 1 through $appearing-cards {
        .appearing-card-#{$i}{
                @include animation-properties(0.5s, $i, 0.22);
    }    
}


@media screen and (min-width: map-get($breakpoints, large)) {
        @for $i from 1 through $appearing-cards {
                .appearing-card-#{$i}{
                        @include animation-properties(0.3s, $i, 0.15);
            }    
        }
}
