/* ------------ All cards------------ */

.card {
    overflow: hidden;
    position: relative;
    @include cards-shadow;
    border-radius: 15px;
    background-color: $white-colour;
}

/* ------------ Homepage restaurants cards------------ */

.restaurant-card {
    

    width: 100%;
        
    @media screen and (min-width: get-min-width(medium)) {
        width: 40%;
    }

    &__photo-container{
        height: 150px;
        overflow: hidden;

        @include small-screens {
            height: 200px;
        }

        @media screen and (min-width: get-min-width(large)) {
            max-height: 300px;
            height: 20vw;
        }        
    }
    
    &__img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        
        &--centered1{
            object-position: 50% 50%;
        }

        &--centered2 {
            object-position: 50% 58%;
        }

        &--centered3{
            object-position: 50% 75%;
        }

        &--centered4{
            object-position: 50% 80%;
        }
    }


    &__body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 80px;
        min-height: 50px;
        padding: 0.8rem 1rem;

    }

    /* Button favourite homepage cards only */
    &__heart-icon-container{
        position: absolute;
        bottom: 18px;
        right: 16px;
    }

    &__new-info {
        position: absolute;
        right: 4%;
        top: 5%;
        border-radius: 2px;
        background-color: $colour-tertiary;
        padding: 6px 11px; 
        color: darken($colour-tertiary, 50%);
        
        @media screen and (min-width: get-min-width(small)) and (max-width: get-max-width(medium)){
            padding: 6px 11px;
            font-size: 1rem;
        }

        @include large-screens{
            font-size: 1.1rem;
        }

        @media screen and (min-width: get-min-width(x-large)){
            font-size: 1.3rem;
        }
    }
    
}



/* ------------ Menu-pages cards ------------ */

.menu-card{
    display: flex;
    flex-direction: column-reverse;
    opacity:0;
    // color: blueviolet;
    
    &__label{
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    
    &__checkbox{
        right: 0;
    }

    &__body {
        display: flex;
        height: 100%;
    }
    
    &__description-block{
        display: flex;
        flex-direction: column;
        @include text-ellipsis;
        width: 95%;
        padding: 1rem;
    }

    &__description-block>p, h4{
        @include text-ellipsis;
    }

    &__description-block>h4{
        padding-bottom: 0.5rem;
    }

    &__price-tag{
        align-self: flex-end;
        margin-bottom: 1rem;
        margin-right: -3rem;

        /*Animation : properties */
        @include linear-animations-transition(all, 0.4s);
    }

    &__icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        background-color: $colour-tertiary;
        border-radius: 0 10px 10px 0;
        min-width: 70px;

        /*Animation : initial state*/
        transform: scaleX(0);
        transform-origin: right;
        @include linear-animations-transition(transform, 0.4s);
    }
    
    &__check-icon {
        color: white;
        font-size: 2.5rem;

        /*Animation : initial state*/
        transform: translateX(70px);
        @include linear-animations-transition(transform, 0.3s);
        transition-delay: 0.1s;
    }
    
    @include medium-screens {
        margin-right: 6vw;
        width: 70%;
    }

    @include large-screens {
        width: 31.3%;
    }


}

/* ------------ Menu-cards check animation ------------ */

.menu-card {

    &__checkbox {
            &:checked {
                    &+ div{
                            & i {
                                    @include rolling-check-icon;
                            }
                            & .menu-card{
                                    &__icon-box {
                                            @include appearing-icon-box;
                                    }
                                    &__price-tag {
                                            @include moving-price-tag;
                                    }
                            }    
                    } 
            }
    }        
    @media screen and (min-width: map-get($breakpoints, large)) {           
            &:hover>input:not(:checked) +div{
                    & i{
                            @include rolling-check-icon;
                    } 
                    & .menu-card{
                            &__icon-box {
                                    @include appearing-icon-box;                               
                            }     
                            &__price-tag{
                                    @include moving-price-tag;
                            }                 
                    }
            }
    }
}