/* ------------ Homepage restaurants cards------------ */

.restaurants-block {
    
    & article {
        position: relative;
        overflow: hidden;
        @include cards-shadow;
        border-radius: 15px;
        width: 100%;
        background-color: $white-colour;
        
        @include medium-screens {
            width: 40%;
        }

        @media screen and (min-width: get-min-width(large)) {
            width: 40%;
        }

    }

    .heart-icon-container {
        position: absolute;
        bottom: 18px;
        right: 16px;
    }

    &__photo-container{
        height: 150px;
        overflow: hidden;

        @include small-screens {
            height: 200px;
        }

        @media screen and (min-width: get-min-width(large)) {
            max-height: 300px;
            height: 20vw;
        }        
    }
    
    &__card-img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        
        &.img--centered1{
            object-position: 50% 50%;
        }

        &.img--centered2 {
            object-position: 50% 58%;
        }

        &.img--centered3{
            object-position: 50% 75%;
        }

        &.img--centered4{
            object-position: 50% 80%;
        }
    }


    &__card-body {
        display: flex;
        justify-content: space-between;
        align-items: center;
        max-height: 80px;
        min-height: 50px;
        padding: 0.8rem 1rem;

    }

    &__new-info {
        position: absolute;
        right: 4%;
        top: 5%;
        border-radius: 2px;
        background-color: $colour-tertiary;
        padding: 6px 11px; 
        color: darken($colour-tertiary, 50%);
        
        @media screen and (min-width: get-min-width(small)) and (max-width: get-max-width(medium)){
            padding: 6px 11px;
            font-size: 1rem;
        }

        @include large-screens{
            font-size: 1.1rem;
        }

        @media screen and (min-width: get-min-width(x-large)){
            font-size: 1.3rem;
        }
    }
    
}


/* ------------ Menu-pages cards ------------ */

.menu-card{
    @include cards-shadow;
    display: flex;
    flex-direction: column-reverse;
    border-radius: 15px;
    background-color: $white-colour;
    opacity:0;
    overflow: hidden;
    position: relative;
    &__label{
        z-index: 2;
        position: absolute;
        height: 100%;
        width: 100%;
    }
    &__body {
        display: flex;
        height: 100%;
    }
    &__icon-box {
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        background-color: $colour-tertiary;
        border-radius: 0 10px 10px 0;
        min-width: 70px;
    }
    &__description-block{
        display: flex;
        flex-direction: column;
        @include text-ellipsis;
        width: 95%;
        padding: 1rem;
    }

    &__description-block>p, h4{
        @include text-ellipsis;
    }

    &__description-block>h4{
        padding-bottom: 0.5rem;
    }

    &__price-tag{
        align-self: flex-end;
        margin-bottom: 1rem;
        margin-right: -3rem;
    }
    @include medium-screens {
        margin-right: 6vw;
        width: 70%;
    }
    @include large-screens {
        width: 31.3%;
    }
    &__checkbox{
        right: 0;
    }
    &__check-icon {
        color: white;
        font-size: 2.5rem;
    }


}
