*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

a{
    color: inherit;
    text-decoration: none;
}

ul, ol{
    list-style: none;
}


input[type="checkbox"]{
    height: 0;
    width: 0;
    opacity: 0;
    position: absolute;
}