
* {
    font-family: 'Roboto', sans-serif;
}

body {
    font-size: 1rem;  
}

h1 {
    font-size: 2.3rem;
}

h2 {
    font-size: 1.7rem;
}

.logo {
    font-family: 'Shrikhand', cursive;
}

.cta-block__promise {
    font-size: 1.2rem;
}

footer .logo {
    font-size: 1.4rem;
}