.menus-section__photo-container {
    overflow: hidden;
    width: 100%;
    position: relative;
    z-index: -1;
    & img {
        object-fit: cover;
        width: 100%;
        &.francaise-photo--centered{
            height: 300px;
            object-position: 30% 100%;
            @media screen and (min-width: 575px) and (max-width: map-get($max-width, small)) {
                object-position: 50% 115%;
                height: 400px;
            }
            @media screen and (min-width: map-get($breakpoints, medium)) {
                height: 500px;
            }
        }
    }
}

.menus-section {
    display: flex;
    flex-direction: column;
    margin-top: -70px;
    border-radius: 45px 45px 0 0;
    padding-top: 0.7rem;
    @media screen and (min-width: map-get($breakpoints, medium)) {
        margin-top: -170px;
    }


}

.menu-block {
    &__header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    @media screen and (min-width: map-get($breakpoints, large)) {
        flex-flow: row wrap;
    }
    @media screen and (min-width: map-get($breakpoints, x-large)) {
        &__body{
            display: flex;
            flex-flow: row wrap;
            justify-content: space-between;
        }
    }
}

.categories-block{
    display: flex;
    flex-direction: column;
    gap: 3vh;
    padding-bottom: 2rem;
    &__categories-header{
        padding-bottom: 0.5rem;
        position: relative;
        &::after {
            z-index: 1;
            position: absolute;
            top: 28px;
            bottom: 0;
            left: 0;
            right: 0;
            height: 3.5px;
            width: 50px; 
            background-color: $colour-tertiary;
            content: "";
        }
    }
    @media screen and (min-width: map-get($breakpoints, medium)) and (max-width: map-get($max-width, medium)) {
       flex-flow: row wrap; 
       justify-content: flex-end;
       padding: 2rem 0;
       &__categories-header {
            flex-grow: 1;
            position: sticky;
            top: 0;
    }
    }
    @media screen and (min-width: map-get($breakpoints, large)) and (max-width: map-get($max-width, large)) {
        flex-flow: row wrap;
        padding-top: 1vw;
        &__categories-header {
            width: 100%;
        }
    }
    @media screen and (min-width: map-get($breakpoints, x-large)) {
        width: 30%;
    }


}

.menu-card{
    @include cards-shadow;
    border-radius: 15px;
    background-color: $white-colour;
    padding: 1rem;
    &__description-block>p, h4{
        overflow: hidden;
        padding-right: 1rem;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    &__description-block{
        display: flex;
        justify-content: space-between;
        padding-top: 0.3rem;
    }
    @media screen and (min-width: map-get($breakpoints, medium)) and (max-width: map-get($max-width, medium)) {
        margin-right: 6vw;
        width: 70%;
    }
    @media screen and (min-width: map-get($breakpoints, large)) and (max-width: map-get($max-width, large)) {
        width: 31.3%;
    }


}

.button-container{
    display: flex;
    justify-content: center;
    width: 100%;
    margin-top: 4vw;
    margin-bottom: 5vw;
}

