/* ------------ General ------------ */

@mixin center-flex-elements {
    align-items: center;
    justify-content: center;
}



/* ------------ Media-queries ------------ */

@mixin media-queries-min-max ($breakpoint, $max) {
    @media screen and (min-width: $breakpoint) and (max-width: $max) {
        @content;
    }
}

@mixin small-screens {
    @include media-queries-min-max(get-min-width(small), get-max-width(small)) {
        @content;
    }
}

@mixin medium-screens {
    @include media-queries-min-max(get-min-width(medium), get-max-width(medium)) {
        @content;
    }
}

@mixin large-screens {
    @include media-queries-min-max(get-min-width(large), get-max-width(large)) {
        @content;
    }
}

@mixin x-large-screens {
    @media screen and (min-width: get-min-width(x-large)) and (max-width: get-max-width(x-large)){
        @content;
    }
}
/* ------------ Cards ------------ */

@mixin cards-shadow {
    box-shadow:  0px 4px 10px 2px darken($white-colour, 15%);
}

@mixin text-ellipsis{
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* ------------ Animations ------------ */

@mixin bouncing-loader-animation ($delay, $name){
    animation-duration: 1.1s;
    animation-delay: $delay; 
    animation-iteration-count: 3;
    animation-name: $name;
}


@mixin animation-properties ($duration, $increment, $multiplier){
    animation: $duration ease-in-out delays-calculation($increment, $multiplier) 1 appear;
    animation-fill-mode: both;
}

@mixin linear-animations-transition ($transformation-type, $transformation-duration){
    transition: $transformation-type $transformation-duration linear;
}

@mixin rolling-check-icon {
    transform: translateX(0) rotate(-360deg);
}

@mixin appearing-icon-box {
    transform: scaleX(1);
}

@mixin moving-price-tag {
    margin-right: 1rem;
}

