$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$white-color: #fff;
$sections-background: darken($white-color, 4%);
$colour-button: linear-gradient($colour-secondary, $colour-primary);

$breakpoints: (
    medium: 768px,
    large: 992px,
    x-large: 1200px
);