$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$white-color: #fff;
$footer-background: #353535;

$breakpoints: (
    medium: 768px,
    large: 992px,
    x-large: 1200px
);