$colour-primary: #9356DC;
$colour-secondary: #FF79DA;
$colour-tertiary: #99E2D0;
$white-colour: #fff;
$sections-background: darken($white-colour, 4%);
$colour-button: (
    button: linear-gradient(170deg, $colour-secondary 0%, $colour-primary 99%),
    fav-button: linear-gradient(5deg, $colour-secondary 0%, $colour-primary 99%)
);

$breakpoints: (
    medium: 768px,
    large: 992px,
    x-large: 1200px,
    xx-large: 1400px
);

$max-width: (
    small: 767px,
    medium: 991px,
    large: 1199px,
    x-large: 1399px
);

/* Animations variables */

$appearing-cards: 10; /*number of blocks appearing*/
$delay: 0s;
$duration: 0s;